{% extends "network/layout.html" %}

{% block body %}
    <p>{{ author }}'s profile page</p>
    <p>Followers: {{followers.count}} - Following: {{following.count}} </p>
   

    <!-- if it's not current user... -->
    <!-- There is no post here to use post.author...Provide it -->
    {% if not is_author and is_following %}
        <div class="buttons-wrap">
            <form action="{% url 'author' author.id %}" method="post">
                {% csrf_token %}
                <input type="submit" name="follow" class="btn btn-primary" value="Follow">
            </form>
        </div>
    {% elif not is_author and not is_following %}
        <div class="buttons-wrap">
            <form action="{% url 'author' author.id %}" method="post">
                {% csrf_token %}
                <input type="submit" name="unfollow" class="btn btn-danger" value="Unfollow">
            </form>
        </div>
    {% endif %}
    <hr>

    <p>User Posts:</p>
    {% for post in posts %}
        <div class="card align-items-start">
            <p>{{ post.post_text }}</p>
            {% if post.like_count is None %}
                <p>Likes: 0</p>
            {% else %}
                <p class="likes">Likes: <span>{{ post.like_count }}</span></p>
            {% endif %}
            <p>By: <a href="{% url 'author' post.author.id %}">{{ post.author }}</a></p>
            <p>Posted on: {{ post.published_date }}</p>

            {% if post.author != user %}
                {% if post in user_likes %}
                    <a class="btn btn-danger like-toggle" href="#" data-post-id="{{ post.id }}" data-likes="false">Unlike</a>
                {% else %}
                    <a class="btn btn-primary like-toggle" href="#" data-post-id="{{ post.id }}" data-likes="true">Like</a>
                {% endif %}
            {% else %}
                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit Post</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}