{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <section>
            <form method="POST" action="{% url 'edit_post' post.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" type="textarea" name="post_text" placeholder="Post Content" rows="3" value="" required>
                    {{post.post_text}}
                    </textarea>
                </div>

                <input class="btn btn-primary" type="submit" value="Save Changes">
            </form>
        </section>
    {% endif %}
{% endblock %}