{% extends "network/layout.html" %}

{% block body %}
    {% for post in page_obj %}
        <div class="card align-items-start">
            <p>{{ post.post_text }}</p>
            {% if post.like_count is None %}
                <p>Likes: 0</p>
            {% else %}
                <p class="likes">Likes: <span>{{ post.like_count }}</span></p>
            {% endif %}
            <p>By: <a href="{% url 'author' post.author.id %}">{{ post.author }}</a></p>
            <p>Posted on: {{ post.published_date }}</p>
    
            {% if post.author != user %}
                {% if post in user_likes %}
                    <a class="btn btn-danger like-toggle" href="#" data-post-id="{{ post.id }}" data-likes="false">Unlike</a>
                {% else %}
                    <a class="btn btn-primary like-toggle" href="#" data-post-id="{{ post.id }}" data-likes="true">Like</a>
                {% endif %}
            {% else %}
                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit Post</a>
            {% endif %}
        </div>

    {% endfor %}

    <ul class="pagination">
        <span class="step-links d-flex justify-content-between w-100">
            {% if page_obj.has_previous %}
                <!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li> -->
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            {% if page_obj.has_next %}
                <li class="page-item ml-auto"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo; Last</a></li> -->
            {% endif %}
        </span>
    </ul>

{% endblock %}