{% extends "network/layout.html" %}

{% block body %}
    <p>{{ user }}'s profile page</p>
    <p>Followers: Following: </p>
    <p>User Posts:</p>

    <!-- if it's not current user... -->
    {% if user.id is not current_user.id %}
        <div class="buttons-wrap">
            <a href="" class="btn-primary btn">Follow</a>
            <a href="" class="btn-danger btn">Unfollow</a>
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="card">
            <p>{{ post.post_text }}</p>
            <p>Likes: 0</p>
        </div>
    {% endfor %}
{% endblock %}